@media screen and (min-width : 420px) and (max-width: 650px) {

    #haut
    {
        display: block;
    }
    
    #haut_gauche
    {
        display: flex;
        /* flex-direction:column; */
    }
    
        .disparitionQuanTropPetit
    {
        display:none;
    }
    
}